/* General settings */

h1 {
    width: calc(80vw - 2vh);
    padding: 1vh;
    background-color: lightblue;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 1vh;
    margin-left: 10vw;
}

body {
    font-family: "Josefin Slab", serif;
    font-weight: 800;
    color: rgb(52, 52, 52);
    padding: 0px;
    margin: 0px;
}

/* Specific settings */

.card, .timer, .button-panel {

    width: 80vw;
    font-size: 8vw;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 9vh;
    margin-left: 10vw;

}

.card > img {

    width: 20vw;
    height: 20vw;
    padding: 5vw;
    border: 1vw solid black;
    border-radius: 10vw;
    box-shadow: 2.5vw 2.5vw 5vw rgba(0, 0, 0, 0.5);

}

ul {
    list-style-type: none; /* Remove bullets */
}

.timer > img {

    margin: 0px; 
    width: 20vw;
    height: 20vw;

}

.main {

    min-width: 100%;
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
    left: 0;

}

.main > p {

    width: 80vw;
    margin-left: 10vw;
}

#adoration_main > p {
    font-weight: 600;
    font-size: 4vw;
    line-height: 1.5;
}

.block, .introduction {

    width: 70vw;
    margin-left: 10vw;
    border-radius: 5vw;
    
    font-size: 5vw;

    margin-bottom: 1.5vh;
    padding: 2.5vw;

    text-align: left;
    font-weight: bold;

}

#angelus_block, #marian-hymn, #angelus_block > img, #marian-hymn > img {

    width: 90vw;
    margin-left: 0px;

}

.introduction {
    text-align: center;
    width: 72vw;
    background-color: lightblue;
    margin-bottom: 4.5vh;
}

.timer-text {
    display: inline-block;
    width: 45vw;
    margin: 0px;
    padding: 0px;
}

.on-timer {
    font-size: 3vw;
    background-color: rgba(62, 133, 62, 0.537);
    padding: 1vw;
    border-radius: 1vw;
    margin: 0px;
}

.off-timer {
    font-size: 3vw;
    background-color: rgba(133, 62, 62, 0.537);
    padding: 1vw;    
    border-radius: 1vw;
    margin: 0px;
}

.active-block {
    border: 1vw solid black;
}

.cue {
    padding-top: 2vh;
    margin-top: 2vh;
    border-top: 1vw solid lightgrey;
    color: lightgrey;
}

.active-block > .cue {
    color: rgb(52, 52, 52);
    border-top: 1vw solid darkgrey;
}

.solfege-button, .solfege-button:active {

    width: 6vw;
    height: 6vw;
    font-size: 5vw;
    display: inline-block;
    padding: 2.5vw;
    margin: 2.5vw;
    border: 1vw solid black;
    border-radius: 1vw;
    transition-duration: 0.5s;

}

.level-button {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 8vw;
    padding-right: 8vw;
    border: 1vw solid black;
    border-radius: 1vw;
    transition-duration: 0.5s;

}

.active-button {

    background-color: lightgrey;
    transition-duration: 0.5s;

}

.right-button {

    background-color: lightgreen;
    transition-duration: 0.5s;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
    background-color: white;
    font-family: "Josefin Slab", serif;
    font-weight: 800;
    color: rgb(52, 52, 52);
    font-size: 4vw;
  }

.collapsible > h1 {
    background-color: lightblue;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.collapsible:hover > h1 {
    background-color: aquamarine;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
/* N-back task */

.container {
    width: 80vw;
    margin-left: 10vw;
    height: 80vw;
    display: grid;
    grid-template-columns: auto auto auto;
}
.container > div {
    background-color: lightgray;
    border: 1vw solid white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

#check_button {

    width: 60vw;
    height: 10vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: aquamarine;
    border-radius: 2vh;
    border-style: none;
    font-size: 1.5vh;
    font-family: "Josefin Slab", serif;
    font-weight: 800;

}